<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
		<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="BlockChain.BinaryOptions.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <BlockChain.BinaryOptions.Properties.Settings>
            <setting name="IsFirstRun" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="Test_TokenA" serializeAs="String">
                <value />
            </setting>
            <setting name="Test_TokenB" serializeAs="String">
                <value />
            </setting>
            <setting name="Test_Pool" serializeAs="String">
                <value />
            </setting>
            <setting name="Test_V3Price" serializeAs="String">
                <value />
            </setting>
            <setting name="Test_Factory" serializeAs="String">
                <value />
            </setting>
            <setting name="Test_BO_120" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Test_BO_300" serializeAs="String">
                <value />
            </setting>
            <setting name="Test_BO_3600" serializeAs="String">
                <value />
            </setting>
            <setting name="Test_BetToken" serializeAs="String">
                <value />
            </setting>
            <setting name="Test_ClPrice" serializeAs="String">
                <value />
            </setting>
            <setting name="Test_ClFactory" serializeAs="String">
                <value />
            </setting>
            <setting name="Test_ClBO_120" serializeAs="String">
                <value />
            </setting>
            <setting name="Test_ClBO_300" serializeAs="String">
                <value />
            </setting>
            <setting name="Test_ClBO_3600" serializeAs="String">
                <value />
            </setting>
            <setting name="Test_ClBetToken" serializeAs="String">
                <value />
            </setting>
            <setting name="Test_ClOracle" serializeAs="String">
                <value />
            </setting>
        </BlockChain.BinaryOptions.Properties.Settings>
    </userSettings>
	<log4net>
		<root>
			<level value="ALL" />
			<appender-ref ref="RollingLogFileAppender" />
		</root>
		<appender name="RollingLogFileAppender" type="log4net.Appender.RollingFileAppender">
			<file value="C:\temp\BinaryOptions.LOG" />
			<appendToFile value="true" />
			<rollingStyle value="Composite" />
			<datePattern value=".yyyyMMdd'.TXT'" />
			<param name="MaxSizeRollBackups" value="-1" />
			<param name="MaximumFileSize" value="100MB" />
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
			</layout>
		</appender>
	</log4net>
	
</configuration>